extends simple-template
block append body
  #upgrade-card.card-wide.is-active.mdl-card.mdl-shadow--2dp(style='text-align: center;')
    .mdl-card__title
      div
        i.material-icons(style='text-align: center;') build
        div installation
    .mdl-card__supporting-text
      div Application is installed on #{bddVersion} version
    .mdl-card__actions.mdl-card--border(style='text-align: center;')
      button.mdl-button.dialog-button Upgrade from #{bddVersion} to version #{version}
    .mdl-spinner.mdl-spinner--single-color.mdl-js-spinner(style='margin: auto; margin-bottom: 15px;')
  #upgrade-success.card-wide.mdl-card.mdl-shadow--2dp(style='text-align: center;')
    .mdl-card__title
      div
        i.material-icons(style='text-align: center;') done
        div Application ready to use
    .mdl-card__supporting-text
      div Application is now not upgraded
    .mdl-card__actions.mdl-card--border(style='text-align: center;')
      a.mdl-button.dialog-button(href='/') Begin use #{version}
  #upgrade-error.card-wide.mdl-card.mdl-shadow--2dp(style='text-align: center;')
    .mdl-card__title
      div
        i.material-icons(style='text-align: center;') close
        div Upgrader error report:
    .mdl-card__supporting-text
      div Upgrader has caught upgrades errors:
        pre(style='text-align: left; margin: auto;').errors
  dialog#upgrade-dialog.mdl-dialog
    h3.mdl-dialog__title Upgrade confirmation
    div.mdl-dialog__content
      p
        Are you sure you want to upgrade to version: #{version} on
      .properties
        .mdl-grid
          .mdl-cell.mdl-cell--6-col
            span host: 
          .mdl-cell.mdl-cell--6-col
            span #{database.host}
        .mdl-grid
          .mdl-cell.mdl-cell--6-col
            span database: 
          .mdl-cell.mdl-cell--6-col
            span #{database.database}
        .mdl-grid
          .mdl-cell.mdl-cell--6-col
            span username: 
          .mdl-cell.mdl-cell--6-col
            span #{database.username}
        .mdl-grid
          .mdl-cell.mdl-cell--6-col
            span type: 
          .mdl-cell.mdl-cell--6-col
            span #{database.postgresql}
    div.mdl-dialog__actions
      .mdl-grid
        .mdl-cell.mdl-cell--6-col
          button.yes.mdl-button(type="button") Yes
        .mdl-cell.mdl-cell--6-col
          button.no.mdl-button(type="button") No
  script.
    (function() {
      'use strict';
      var dialogButton = document.querySelector('.dialog-button');
      var dialog = document.querySelector('#upgrade-dialog');
      if (! dialog.showModal) {
        dialogPolyfill.registerDialog(dialog);
      }
      dialogButton.addEventListener('click', function() {
        dialog.showModal();
      });
      dialog.querySelector('button.yes')
      .addEventListener('click', function() {
        dialog.close();
        document.querySelector('.mdl-spinner').classList.toggle('is-active');
        $.post('upgrade').done(function(){
          document.querySelector('.mdl-spinner').classList.toggle('is-active');
          document.querySelector('#upgrade-card').classList.toggle('is-active');
          document.querySelector('#upgrade-success').classList.toggle('is-active');
        }).fail(function(error){
          document.querySelector('#upgrade-card').classList.toggle('is-active');
          $('#upgrade-error .errors').html(JSON.stringify(JSON.parse(error.responseText), ' ', 2));
          document.querySelector('#upgrade-error').classList.toggle('is-active');
        });
      });
      dialog.querySelector('button.no')
      .addEventListener('click', function() {
        dialog.close();
      });
    }());
